#one{
  border: 1px solid black;
}

#two{
  border: 1px solid black;
}

#three{
  border: 1px solid black;
}

#four{
  border: 1px solid black;
}

#five{
  border: 1px solid black;
}

#six{
  border: 1px solid black;
}

#seven{
  border: 1px solid black;
}

#eight{
  border: 1px solid black;
}

#nine{
  border: 1px solid black;
}