#one{
  border: 1px solid black;
  position: static
}

#two{
  border: 1px solid black;
  position: relative;
}

#three{
  border: 1px solid red;
  position: absolute;
}

#four{
  border: 1px solid green;
  position: fixed;
}

#five{
  border: 1px solid blue;
  position: sticky;
}

#six{
  border: 1px solid black;
  display: block;
}

#seven{
  border: 1px solid blue;
  display: inline;
}

#eight{
  border: 1px solid red;
  display: inline-block;
}

#nine{
  border: 1px solid black;
  display: none;
}