body{
  background-color: black;
}

h1{
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

h2{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

#first-p{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid white 2px;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
}

#second-p{
  color: white;
  border: solid white 2px;
  width: fit-content;
  font-size: 20px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

#third-p{
  color: white;
  border: solid white 2px;
  font-size: 20px;
  text-align: center;
}