body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: blue;
}
nav {
  background-color: red;
}

main {
  width: 75vw;
  height: 76vh;
  background-color: green;
}

div {
  display: flex;
}

ul {
  width: 25vw;
  display: flex;
  flex-direction: column;
}
