body {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main'
    'nav main main';
}

header {
  background-color: blue;
  grid-area: header;
}
nav {
  background-color: red;
  grid-area: nav;
}

main {
  height: 76vh;
  background-color: green;
  grid-area: main;
}
ul {
  display: flex;
  flex-direction: column;
}
